/*setting basic flex box*/
/*the 'vh' and 'vw' commands allow us to make the design elements relitive to the users screen size instead of a static pixel count*/
*, *::after, *::before {
    box-sizing: border-box;
}

/*setting how the colors of each element iteracts with each other*/
:root {
    --hue: 200;
    --saturation: 50%;
    --foreground-color: hsl(var(--hue), var(--saturation), 75%);
    --background-color: hsl(var(--hue), var(--saturation), 20%);

}
/*setting colors for the score element and background*/
body {
    margin: 0;
    background-color: var(--background-color);
    overflow: hidden;
}
/*setting colors and positions of both paddles*/
.paddle {
--position: 50;

position: absolute;
background-color: var(--foreground-color);
top: calc(var(--position) * 1vh);
transform: translateY(-50%);
width: 1vh;
height: 10vh;
}

/*setting position of left paddle relitive to players screen*/
.paddle.left {
left: lvw; 
}

/*setting position of right paddle relitive to players screen*/

.paddle.right {
    right: 1vw
}

/*setting position, shape, and color of the 'Ball' element*/
.ball {
    --x: 50;
    --y: 50;

position: absolute;
background-color: var(--foreground-color);
left: calc(var(--x) * 1vh);
top: calc(var(--y) * 1vh);
border-radius: 50%
transform: translate(-50%, -50%);
width: 2.5vh;
height: 2.5vh;
}

/*the following all dictates the way that that the 'score' elements are desplayed to the user*/
.score {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 7vh;
    color: var(--foreground-color);
}

.score > * {
    flex-grow: 1;
    flex-basis: 0;
    paddingL 0 2vh;
    marign: 1vh 0;
    opacity: .5;
}

score > :first-child {
    text-allign: right;
    border-right: .5vh solid var(--foregorund-color);
}